:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --light-gray-color: #E5E7EB;
    --dark-gray-color: #83858a;
    --accent-color: #3882F6;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* Defaults: Flex */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.section {
    padding: 0 200px;
    min-height: 500px;
}

.content {
    border: 1px solid red;
    width: 100%;
    flex: 1;
}

/* Section 1 */
#hero-section {
    background-color: var(--dark-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: var(--light-color)
}

.header ul {
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header a {
    color: var(--light-gray-color);
    text-decoration: none;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: var(--light-color);
}

.subtitle {
    font-size: 18px;
    color: var(--light-gray-color);
}

.cta-btn-med {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    color: var(--light-color);
    font-weight: bold;
    font-size: 18px;
}

.left {
    display: flex;
    gap: 8px;
}

.left,
.right {
    flex: 1;
}

.header-img {
    width: auto;
    height: 225px;
}

/* Section 2 */
#carousel-section {
    background-color: var(--light-color);
}

.section-header {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-color);
    margin-top: 30px;
}

#carousel-section > .content {
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.img-group {
    align-items: center;
}

.img-group img {
    width: 13.5vw;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
}

.img-subtitle {
    margin: 10px 0 0 0;
    color: var(--dark-gray-color);
}