:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --light-gray-color: #E5E7EB;
    --dark-gray-color: #83858a;
    --accent-color: #3882F6;
    --default-border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* Defaults: Elements */

p {
    margin: 0;
    padding: 0;
}

.btn {
    border: none;
    border-radius: var(--default-border-radius);
    padding: 5px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
}

.btn-med {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.btn-light {
    background-color: transparent;
    color: var(--light-color);
    border: 2px solid var(--light-color);
}

/* Defaults: Flex */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.section {
    padding: 0 200px;
    min-height: 500px;
}

.content {
    width: 100%;
    align-self: flex-end;
    flex: 1;
}

/* Hero Section */
#hero-section {
    background-color: var(--dark-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: var(--light-color)
}

.header ul {
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header a {
    color: var(--light-gray-color);
    text-decoration: none;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: var(--light-color);
}

.subtitle {
    font-size: 18px;
    color: var(--light-gray-color);
}

.left {
    display: flex;
    gap: 8px;
}

.left,
.right {
    flex: 1;
}

.header-img {
    width: auto;
    height: 225px;
}

/* Carousel Section */
#carousel-section {
    background-color: var(--light-color);
}

.section-header {
    font-size: 36px;
    font-weight: 900;
    flex: 1;
    color: var(--dark-color);
    width: auto;
    text-align: center;
    display: flex;
}

#carousel-section > .content {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 100px;
    box-sizing: border-box;
    flex: 1.5;
}

.img-group {
    align-items: center;
}

.img-group img {
    width: 13.5vw;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
}

.img-subtitle {
    margin: 10px 0 0 0;
    color: var(--dark-gray-color);
}

/* Quote Section */
#quote-section {
    background-color: var(--light-gray-color);
}

#quote-section > .content {
    padding: 0 125px;
    box-sizing: border-box;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: var(--dark-color);
    font-style: italic;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.author {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.quote,
.author {
    margin: 0;
    padding: 0;
}

/* CTA Section */
#cta-section {
    background-color: var(--light-color);
    justify-content: center;
}

#cta-section > .content {
    background-color: var(--accent-color);
    border-radius: var(--default-border-radius);
    flex: 1;
    max-height: 150px;
    padding: 50px 100px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.cta-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color);
}

.cta-subtitle {
    color: var(--light-gray-color);
}

/* Footer */
.footer {
    background-color: var(--dark-color);
    height: 50px;
}
