body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.section {
    padding: 10px 200px;
    min-height: 400px;
}

.dark {
    background-color: #1F2937;
}

.light {
    background-color: #ffffff;
}

.medium {
    background-color: #E5E7EB;
}

/* Section 1 */
.header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8
}

.header ul {
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.content {
    align-items: center;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.left,
.images {
    flex: 1;
}

.header-img {
    width: auto;
    height: 200px;
}

/* Section 2 */
.section-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}